.container{
    background-color: #5271FF
}

.footlocker-logo{
    position: absolute;
    height: 90px;
    left: 70px;
    top: 45px;
}

.category{
    position: absolute;
    left: 20px;
    top: 145px;
}

.categoryBox{
    border-radius: 20px;
    min-height: 110px;
    background-color: white;
}

.categoryBox:hover {
    background-color: white;
    box-shadow: 0 5px #ff914d;
    transform: translateY(2px);
    cursor: pointer;
}

.categoryName{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

.productArrow{
    position: absolute;
    left: 0px;
    top: 60px;
    height: 80px;
}

.productArrow:hover{
    transform: translateX(6px);
    cursor: pointer;
}

/* .vertical-scroll::-webkit-scrollbar {
    width: 10em;
}

.vertical-scroll::-webkit-scrollbar-track {
    background: hsl(120 50% 50% / 1);
}

.vertical-scroll::-webkit-scrollbar-thumb {
    background: hsl(120 100% 20% / 1);
} */