.App {
  text-align: center;
}

.loadingPage-logo {
  position: absolute;
  height: 100px;
  top: 275px;
}

.App-header {
  background-color: #5271FF;
  min-height: 100vh;
  font-size: 20px;
  color: white;
}

#welcome {
  position: relative;
  top: -80px;
  font-size: large;
}

#convenient {
  position: relative;
  top: 80px;
  font-size: medium;
}